<div class="login-page">
   <h3 class="login-headding">Login Page</h3>
   <form action="" method="post" class="text-end">
      <table class="table-position">
         <tr>
            <td>
               <label for="username">Username:</label>
            </td>
            <td>
               <input type="text" name="username" id="username">
            </td>
         </tr>
      
         <tr>
            <td>
               <label for="mail">E-mail:</label>
            </td>
            <td>
               <input type="email" name="mail" id="mail">
            </td>
         </tr>
        
         <tr>
            <td>
               <label for="password">Password:</label>
            </td>
            <td>
               <input type="password" name="password" id="password">
            </td>
         </tr>
         <tr>
            <td></td>
            <td>
               <button type="reset">Reset</button>
               <button type="submit">Submit</button>
            </td>
         </tr>
      </table>
      
   </form>
   
</div>
